{% extends 'base.html' %}

{% block body %}
<form method="POST">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/search" value="Search">
</form>

<hr>
<p><a href="{{ url_for('.add_singer')}}"> Add a new singer</a></p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id='flash'>
  {% for message in messages %}
  <strong>Alert!</strong> {{ message }}
  <button type="close" value="x">
  </button>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

{% if singers %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>

		<tbody>
            {% for row in singers %}
            <tr>
                <td> {{ row.singerid }}</td>
                <td> {{ row.first_name }}</td>
                <td> {{ row.last_name }}</td>
 				<td>
                  <form action="/edit/{{ row.singerid }}" method="POST">
                  <input type="submit" value="Update" class="btn btn-info" />
                  </form>
                </td>
                <td>
                 <form action="/delete_singer/{{ row.singerid }}" method="POST">
                 <input type="submit" value="Delete" class="btn btn-danger" />
                 </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
